RewriteEngine on
RewriteBase /
# Non www to www Redirection
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^(.*) http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Https Redirection
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

